.cardBodyForProductShow .rightContents{
    position: absolute;
    right: 3px;
    bottom: 5px;

}

.color3{
    color:white;
    background-color: #751a1a;   
   }

   .add-to-cart-icon {
    color: #FF7300;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}
.add-to-cart-icon2 {
    color: #FF7300;
    text-shadow: 1px 1px 1px #ccc;
   
}

.add-to-cart-btn {
    color: #FF7300;
}

.read-more-icon {
    color: #353b48;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.read-more-btn {
    color: #353b48;
}

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
  .priceInHomepage {
      position: absolute;
      right: 29px;
  }

  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.menu-background{
    background-color: #FF7300;
}
.googleMapConfig{
    height: 200px;
}