@media print {
    .allContentToPrint {

        width: 100%;
        margin: 30px;
    }

    tr {
        border: none;

    }
    .inCenter{
        justify-content: center;
        display: flex;
    }

    .dontPrint {
        display: none;
    }
    .showWenPrint{
        display: block;
    }

    .changeFont {
        font-size: 60px;
    }
    .changeFont2{
        font-size: 40px;
    }


}

@media screen {
    .showWenPrint{
        display: none;
    }
}