
.scrollbar-cyan {
    scrollbar-color: #FF7300 #F5F5F5;
}


.fixedDiv {
    overflow-y: scroll;
    height: 600px;
}

.navItems {
    font-size: 21px;
}


/*.page-enter {*/
/*    opacity: 0;*/
/*    transform: scale(0.9);*/
/*}*/
/*.page-enter-active {*/
/*    opacity: 1;*/
/*    transform: translateX(0);*/
/*    transition: opacity 300ms, transform 300ms;*/
/*}*/
/*.page-exit {*/
/*    opacity: 1;*/
/*}*/
/*.page-exit-active {*/
/*    opacity: 0;*/
/*    transform: scale(0.9);*/
/*    transition: opacity 300ms, transform 300ms;*/
/*}*/
.fade-appear,
.fade-enter {
    opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
    transition: opacity .3s linear;
    opacity: 1;
}

.fade-exit {
    transition: opacity .2s linear;
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

.card_main{
    height: 500px;
}
.card_main_image{
    min-height: 300px;
    max-height: 500px;
}


.card-box, .card-box-outer {
    position: relative;
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
}
.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.card-box:hover .icon i {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}
.card-box .inner, .card-box-outer .inner {
    padding: 5px 10px 0 10px;
}
.card-box h3, .card-box-outer h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}
.card-box p , .card-box-outer p{
    font-size: 15px;
}
.card-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}
.card-box .card-box-footer , .card-box-outer .card-box-footer {
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}
.card-box:hover .card-box-footer, .card-box-outer:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}
.bg-blue {
    background-color: #00c0ef !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-orange {
    background-color: #f39c12 !important;
}
.bg-red {
    background-color: #d9534f !important;
}
.bg-color2n {
    background-color: #FFAA77;
    color: white;
}