
.scrollbar-cyan {
    scrollbar-color: #FF7300 #F5F5F5;
}


.fixedDiv {
    overflow-y: scroll;
    height: 600px;
}

.navItems {
    font-size: 21px;
}


/*.page-enter {*/
/*    opacity: 0;*/
/*    transform: scale(0.9);*/
/*}*/
/*.page-enter-active {*/
/*    opacity: 1;*/
/*    transform: translateX(0);*/
/*    transition: opacity 300ms, transform 300ms;*/
/*}*/
/*.page-exit {*/
/*    opacity: 1;*/
/*}*/
/*.page-exit-active {*/
/*    opacity: 0;*/
/*    transform: scale(0.9);*/
/*    transition: opacity 300ms, transform 300ms;*/
/*}*/
.fade-appear,
.fade-enter {
    opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
    transition: opacity .3s linear;
    opacity: 1;
}

.fade-exit {
    transition: opacity .2s linear;
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}